<header class=" pb-2" [ngClass]="(isMobileMenuVisible$ | async) ? '' : 'border-bottom'">
  <div class="navbar navbar-light navbar-expand-lg py-lg-4 pt-3 px-0 pb-0">
    <div class="container">
      <div class="row w-100 align-items-center g-lg-2 g-0">
        <div class="col-xxl-2 col-lg-3">
          <div>
            <a class="navbar-brand d-none d-lg-block mb-2" routerLink="/">
              <img src="/assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template">
            </a>
          </div>
          <div class="d-flex justify-content-between w-100 d-lg-none">
            <a class="navbar-brand" routerLink="/">
              <img src="/assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template">
            </a>
            <div class="d-flex align-items-center lh-1">
              <button type="button" class="btn-close" aria-label="Close" (click)="handleToggle(false)"
                [ngClass]="(isMobileMenuVisible$ | async) ? '' : 'd-none'"></button>
              <button 
                class="navbar-toggler collapsed" 
                [ngClass]="(isMobileMenuVisible$ | async) ? 'd-none' : ''"
                (click)="handleToggle(true)" 
                type="button"
                aria-controls="navbar-default" 
                aria-label="Toggle navigation"
                >
                <span class="icon-bar top-bar mt-0"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse" [ngClass]="(isMobileMenuVisible$ | async) ? 'show' : ''">
          <ul 
            *ngIf="categoriesList"
            [ngClass]="(isMobileMenuVisible$ | async) ? 'navbar-nav' : 'nav'"
          >
            <li *ngFor="let item of categoriesList" class="nav-item pb-2">
              <a [routerLink]="'/categories/'+ item.id" class="nav-link">{{item.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
