<section class="my-lg-14 my-8">
  <div class="container">
    <div class="row g-15">
      <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
        <div class="mb-8">
          <h5 class="mb-3">Categories</h5>
          <div *ngFor="let category of categories$ | async">
            <ul class="nav nav-category">
              <li class="nav-item border-bottom w-100">
                <a [routerLink]="'/categories/'+ category.id" class="nav-link">
                  {{category.name}}
                  <i class="feather-icon icon-chevron-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="mb-8">
          <h5 class="mb-3">Price</h5>
          <div class="row gap-5">
            <input #from type="text" placeholder="Price From" class="form-control" (input)="onFromChange(from.value)">
            <input #to type="text" placeholder="Price To" class="form-control" (input)="onToChange(to.value)">
          </div>
        </div>

        <div class="mb-8">
          <h5 class="mb-3">Rating</h5>
          <div *ngFor="let item of ratingOptions$ | async" class="form-check mb-2">
            <input [id]="item" class="form-check-input" type="radio" [name]="item" (change)="onRatingChange(item)" [checked]="(rating$ | async) === item">
            <label [for]="item" class="form-check-label">
              <i class="bi text-warning" [ngClass]="item >= 1 ? 'bi-star-fill' : 'bi-star'"></i>
              <i class="bi text-warning" [ngClass]="item >= 2 ? 'bi-star-fill' : 'bi-star'"></i>
              <i class="bi text-warning " [ngClass]="item >= 3 ? 'bi-star-fill' : 'bi-star'"></i>
              <i class="bi text-warning" [ngClass]="item >= 4 ? 'bi-star-fill' : 'bi-star'"></i>
              <i class="bi text-warning" [ngClass]="item >= 5 ? 'bi-star-fill' : 'bi-star'"></i>
            </label>
          </div>
        </div>

      </aside>
      <div class="col-lg-9">
        <div *ngIf="productsByCategory$ | async as item" class="d-flex flex-column gap-5">
          <ng-container>
            <div class="card mb-4 bg-light border-0">
              <div class="card-body p-9">
                <h2 class="mb-0 fs-1">{{item.categoryName}}</h2>
              </div>
            </div>
          </ng-container>
          <div class="row justify-content-between align-items-center">
            <span class="col-lg-3"><span class="text-dark">{{item.productCount}}</span> Products found</span>
            <div class="col-lg-3">
              <select class="form-select" #order (change)="sort(order.value)">
                <option *ngFor="let item of orders$ | async" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="row" *ngFor="let product of item.products">
            <div class="col">
              <div class="card flex-row p-1 card-product align-items-center">
                <div><img [src]="product.imageUrl" [alt]="product.name"></div>
                <div class="ms-6">
                  <div class="small text-muted"><a [routerLink]="'item'" class="text-inherit">{{item.categoryName}}</a>
                  </div>
                  <h6>{{product.name}}</h6>
                  <small class="text-warning">
                    <i class="bi" *ngFor="let val of product.ratingMark" [ngClass]="
                          { 'bi-star-fill': val === 1,
                            'bi-star': val === 0,
                            'bi-star-half': val === .5 
                          }
                        ">
                    </i>
                  </small>
                  <span class="text-muted small">
                    {{ product.ratingValue }}({{product.ratingCount}})
                  </span>
                  <h6 class="mt-5">${{product.price}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <form [formGroup]="paginationForm" class="row">
            <div class="col-6">
              <div class="btn-group" role="group" *ngIf="currentLimit$ | async as currentLimit">
                <button *ngFor="let item of limitOptions$ | async" [value]="paginationForm.get('limit')?.value"
                  type="button" (click)="onLimitChange(item)"
                  [ngClass]="currentLimit === item ? 'btn btn-primary' : 'btn btn-outline-primary'">
                  {{item}}
                </button>
              </div>
            </div>
            <div class="col-6">
              <div class="btn-group" role="group" *ngIf="currentPage$ | async as currentPage">
                <button *ngFor="let item of pages$ | async" type="button"
                  [ngClass]="currentPage === item ? 'btn btn-primary' : 'btn btn-outline-primary'"
                  (click)="onPageChange(item)">
                  {{item}}
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- <div class="form-check mb-2">
  <input class="form-check-input" type="checkbox" id="ratingThree">
  <label class="form-check-label" for="ratingThree">
    <i class="bi bi-star-fill text-warning"></i>
    <i class="bi bi-star-fill text-warning "></i>
    <i class="bi bi-star-fill text-warning "></i>
    <i class="bi bi-star text-warning"></i>
    <i class="bi bi-star text-warning"></i>
  </label>
</div> -->